<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Practise Test Suite" parallel="methos" thread-counts="8" verbose="1">
  <test name="UI Automation Test">
	 <parameter name="browser" value="${browser}" />
		<parameter name="isLambdaTest" value="${isLambdaTest}" />
		<parameter name="isHeadless" value="${isHeadless}" />
    <classes>
       <class name="com.ui.tests.LoginTest"/>
    </classes>
  </test>

</suite>